name: greengreen

on:
  push:
    branches:
      - main
  schedule:
    - cron: "*/9999 * * * *"

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Auto green
        run: |
          git config --local user.email "2809399366@qq.com"
          git config --local user.name "OnClick9927"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN  }}@github.com/${{ github.repository }}
          git pull --rebase
          git commit --allow-empty -m "Keep writing documents now..."
          git push
